#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	margin: 0px;
	width: 100%;
	background: lightgrey;
}

input {
	line-height: 20px;
	width: 175px;
	padding: 4px;
	border: 1px solid black;
	margin: 5px;
	vertical-align: middle;
}

#empty {
	display: inline-block;
	width: 25%;
}

button {
	display: inline-block;
	line-height: 20px;
	padding: 4px;
	border: 1px solid black;
	margin: 5px;
	vertical-align: middle;
	background: white;
	min-width: 45px;
}

#loginButton {
	position: relative;
	left: 10%;
}

img {
	height: 20px;
	padding: 4px;
	border: 1px solid black;
	margin: 5px;
	vertical-align: middle;
	display: inline-block;
}

object {
	height: 20px;
	padding: 4px;
	border: 1px solid black;
	margin: 5px;
	vertical-align: middle;
	display: inline-block;
}

a {
	color: black;
}

#loginForm {
	text-align: right;
	max-width: 300px;
}
